[MESSAGES CONTROL]
enable=all
disable=missing-docstring,
        invalid-name,
        too-few-public-methods,
        no-member,
        import-outside-toplevel,
        suppressed-message,
        locally-disabled,
        relative-beyond-top-level,
max-line-length=80
